source graphics/Kconfig
source cc/Kconfig
source smmu/Kconfig

config QCOM_CRM_V2
    bool

config QCOM_CMD_DB
    bool

config QCOM_RPMH_RSC
    bool

config QCOM_RPMH_CLK
    bool

config QCOM_ICC_RPMH
    bool

config QCOM_QMP
    bool
